<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Yelosolutions admin</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="./static/css/style.css">
    </head>
    <body>
        <div class="sidebar">
            <div class="sidebar-brand">
                <h2><span class="lab la-yelosolutions"></span>Yelosolutions</h2>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="">
                            <span class="las la-home"></span><span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-user"></span><span>Customers</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-clipboard-list"></span><span>Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-clipboard-list"></span><span>Projects</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-user-circle"></span><span>Accounts</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las-la-igloo"></span><span></span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </body>
</html>